@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background-color:#141c3a;
    font-family: 'Roboto';
}

h1 {
    text-align: center;
    color: white;
}

.teacherWisdom {
    text-align: center;
    color: white;
}

.piano {
    width: 305px;
    height: 210px;
    display: block;
    background-color: #4e4f54;
    margin: 0 auto;
    margin-top: 30px;
}

.key {
    width: 30px;
    height: 200px;
    display: inline-block;
    background-color: white;
    color:#141c3a;
    box-shadow: 2px 5px;
    border: solid #141c3a 2px;
}

.black-key {
    width: 25px;
    height: 100px;
    display: inline-block;
    background-color: black;
    color: white;
    margin-left: -12px;
    position: absolute;
    padding: 0px;
}

.key-note {
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 175px;
    color: #141c3a;
  }

  .black-key-note {
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
  }

  #lyrics {
    width: 400px;
    height: 240px;
    margin: 0 auto;
    display: block;
    background-color: #4e4f54;
    margin-top: 50px;
    padding-left: 20px;
  }

  #column-one, #column-two, #column-three, #column-four, #column-five, #column-six, #column-optional {
    display: inline-block;
    width: 90px;
    text-align: center;
    margin-top: 30px;
  }

  #column-optional {
    display: none;
  }

  #word-one, #word-two, #word-three, #word-four, #word-five, #word-six, #word-optional {
    width: 90px;
    height: 25px;
    background-color: white;
    padding-top: 10px;
    letter-spacing: 5px;
    color: #141c3a;
  }

  #letter-note-one, #letter-note-two, #letter-note-three, #letter-note-four, #letter-note-five, #letter-note-six, #letter-note-optional {
    padding-top: 15px;
    color: white;
    width: 25px;
    height: 25px;
    margin-left: 35px;
  }

  #first-next-line, #second-next-line, #third-next-line, #fourth-next-line {
    position: absolute;
    width: 80px;
    height: 40px;
    margin-top: 30px;
    margin-left: 10px;
    border: none;
    background-color: #ffc63f;
    color: #141c3a;
    letter-spacing: 1px;
    cursor: pointer;
  }

  #first-next-line:active, #second-next-line:active, #third-next-line:active, #fourth-next-line:active {
    background-color: #fa992a;
  }
